@model Guardian.Text.Generator.Web.Models.ViewModels.ContentResultViewModel;

@{       
    if (string.IsNullOrEmpty(Model.Content) )
    {
        <p>Awaiting result...</p>
    }
    else
    {
        <p>@Model.Content</p>
    }
}


