@*@model Guardian.Text.Generator.Web.Application.Queries.GetAllArticlesQuery;*@
@model Guardian.Text.Generator.Web.Models.ViewModels.HomepageViewModel;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <h4 class="display-4">Choose character count</h4>
    <form method="post" asp-controller="Placeholder" asp-action="Index" >
        <div class="form-group">
            <label asp-for="Request"></label>
            <input asp-for="Request" />
        </div>
        <div class="form-group">
            <input type="submit" value="Choose Count" class="btn btn-primary"/>
        </div>
    </form>
</div>


